parameters:
	ignoreErrors:
		-
			message: '#^Trait Webteractive\\GoogleDriveBackupManager\\Concerns\\HasGoogleToken is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/HasGoogleToken.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:disconnectGoogle\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Filament/Resources/Backups/Pages/ManageBackups.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:hasGoogleToken\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Filament/Resources/Backups/Pages/ManageBackups.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:disconnectGoogle\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/GoogleController.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:scopes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/GoogleController.php

		-
			message: '#^Parameter \#2 \$googleUser of method Webteractive\\GoogleDriveBackupManager\\Actions\\ConnectGoogleAccount\:\:handle\(\) expects Laravel\\Socialite\\Two\\User, Laravel\\Socialite\\Contracts\\User given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/GoogleController.php
